<div class="card bg-white text-dark">
  <div class="card-header">Personas</div>
  <div class="card-body text-primary text-dark">

    <div class="my-2 text-left d-flex">
      <h5 class="card-title ">Listado de personas</h5>
      <button class="btn btn-rounded btn-secondary btn ml-auto" type="button" [routerLink]="['/personas/form']">
        Crear Persona
      </button>
    </div>
    <table class="table text-dark table-bordered table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Identificacion</th>
        <th>fecha Nacimiento</th>
        <th>
          Acciones
        </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let persona of personas">
        <td>{{ persona.id }}</td>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellido }}</td>
        <td>{{ persona.identificacion }}</td>
        <td>{{ persona.fechaNacimiento| date: 'mediumDate' }}</td>
        <td class="btn-toolbar">
          <div class="btn-group mr-2">
            <button type="button" name="editar" [routerLink]="['/personas/form', persona.id]" class="btn btn-primary btn-sm align-content-sm-start">editar</button>
          </div>
        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
